<head>
    <head>
        <title>TreeSource</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <link href="../vender/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8" />
    <link rel="stylesheet" href="../vender/jstree/dist/themes/default/style.min.css" />
    <link href="../css/common.css" rel="stylesheet" charset="utf-8" />
    <link href="../css/tree-common.css" rel="stylesheet" charset="utf-8" />
    <!-- 4 include the jQuery library -->
    <script src="../vender/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../vender/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <!-- 5 include the minified jstree source -->
    <script src="../vender/jstree/dist/jstree.min.js"></script>
</head>


