<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TreeSource</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link href="../vender/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8" />
<link href="../css/common.css" rel="stylesheet" charset="utf-8" />
<style>

</style>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse">
            <p class="navbar-text navbar-right"><a href="#" class="navbar-link">SAVE</a></p>
        </div>
    </div>
</nav>
<div class="clearfix nav-height"></div>
<div class="container-fluid">
    <div class="row">
        <h1>hello wolrd</h1>
    </div><!-- .row -->
</div><!-- .container-fluid -->

</body>
</html>